@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;

  --font-display: "Plus Jakarta Sans", sans-serif;

  --radius: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}
